html {
  background-color: lightsteelblue;
  font-family: Tahoma, sans-serif;
}
body {
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: white;
}
table td, table th {
  padding: 10px;
}
@media (max-width: 770px) {
  .admin-container {
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.admin-form-delete {
  width: 180px;
}
@media (max-width: 770px) {
  .admin-form-delete {
    width: auto;
  }
}
.admin-form-delete-text{
  padding: 5px;
}
.clearfix {
  clear: both;
}
.event-table {
  border: 1px solid black;
  border-collapse: collapse;
}
.event-table td, .event-table th {
  border: 1px solid black;
}
.event-table-event-header {
  width: 180px;
}
.event-table-date-header {
  width: 100px;
}
.event-table-id {
  width: 50px;
}